.git
.github
.gitignore
.claude
.kiro
.idea
.vscode

*.md
*.log
*.txt
.env*
!.env.example

target
**/target

node_modules
frontend
services
scripts
observability
docker-compose*.yml
